body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #5cdbfe;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.titre_secondaire {
    text-align: center;
}

p {
    white-space: pre-line;
    text-align: center;
}

.liens_sommaire {
    padding-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.liens_sommaire li a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 6px;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.liens_sommaire a:hover {
    background-color: white;
    color: black;
}
