body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #6ddffe;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}