body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #56feff;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.titre_secondaire {
    text-align: center;
}

.titre_principal {
    text-align: center;
}

p {
    white-space: pre-line;
    text-align: center;
}

.list_center {
    text-align: center;
    list-style: inside;
}

.logo_os {
    height: 150px;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu_navigation {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.menu_navigation li {
    padding-top: 30px;
}

.menu_navigation li a {
    text-decoration: none;
}

.menu_navigation li a:hover {
    text-decoration: underline;
}

.barre_vertical {
    border-left: 3px solid black;
}

main {
    display: flex;
    gap: 50px;
    font-size: large;
}

.contenu_principal {
    flex: 1;
    padding: 20px;
}

.image {
    display: flex;
    justify-content: center;
}